@namespace blazor2.Shared
@* namespce : ccos thể không khai báo thì sẽ tự hiểu là  *@

@inherits LayoutComponentBase

<header style="background-color: #f8f9fa; padding: 10px;" class='d-flex justify-content-between align-items-center'>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <NavLink class="nav-link " aria-current="page" href="/" activeClass="active" Match="NavLinkMatch.All">Home
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/login">Login</NavLink>
        </li>
        <li class="nav-item">
            <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/profile">Profile</NavLink>
        </li>
        <li class="nav-item">
            <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/admin">ADMIN</NavLink>
        </li>
        <li class="nav-item">
            <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/change-car-color">Car
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/register">Register
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/ref">REF
            </NavLink>
        </li>

        <li class="nav-link dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link"
                        href="/on-init?content=hello">
                        Lifecycle- on init
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link"
                        href="/demo-render?content=hi">
                        Lifecycle-
                        render
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link"
                        href="/demo-render?content=hello">
                        Lifecycle-
                        render v2
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="/demo-dispose">
                        Lifecycle-
                        dispose
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link"
                        href="/on-tap-danhsachsanpham">
                        Lifecycle-
                        on tap
                    </NavLink>
                </li>
            </ul>
        </li>


        <li class="nav-link dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                State
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="couter">
                        Couter
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="couter_b">
                        Couter B
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="burger">
                        Burger
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="crypto">
                        crypto
                    </NavLink>
                </li>

            </ul>
        </li>
        <li class="nav-link dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Http Webapi
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="shoeshop">
                        shoeshop
                    </NavLink>
                </li>


            </ul>
        </li>
        <li class="nav-link dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                SignalR
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="room_chat">
                        Room chat
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-link dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuAuth" data-bs-toggle="dropdown"
                aria-expanded="false">
                Auth
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuAuth">
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="login-auth">
                        Login Auth
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="admin-auth">
                        admin Auth
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink activeClass="active" Match="NavLinkMatch.Prefix" class="nav-link" href="profile-auth">
                        profile Auth
                    </NavLink>
                </li>
            </ul>
        </li>

        @* authou view *@
        <AuthorizeView>
            <Authorized Context="ctx">
                <span>Xin chào @ctx.User.Identity.Name</span>
            </Authorized>
            <NotAuthorized>
                <a href="/login-auth">Đăng nhập</a>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</header>
<section>
    @Body
</section>