@page "/hello"

<h1>Hello </h1>
@* HelloName có param là fullName *@
@* public RenderFragment ChildContent { get; set; } bắt buộc đúng tên này thì mới nhận đc nội dung con 
 *@
<HelloName fullName="Phương Nga" />

<HelloName fullName="Nguyễn Văn A" >

    <p>Xin chào xin chào</p>
    <p>Xin chào xin chào</p>
    <p>Xin chào xin chào</p>
    <p>Xin chào xin chào</p>
    <p>Xin chào xin chào</p>
    <p>Xin chào xin chào</p>
    <p>Xin chào xin chào</p>
    <p>Xin chào xin chào</p>
    <blazor2.Pages.StateManagement.Counter/>
</HelloName>

